<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProv</servlet-name>
        <servlet-class>Servlet.RegistrarProv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltasBD</servlet-name>
        <servlet-class>Admin.AltasBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajasBD</servlet-name>
        <servlet-class>Admin.BajasBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiosBD</servlet-name>
        <servlet-class>Admin.CambiosBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultasBD</servlet-name>
        <servlet-class>Admin.ConsultasBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>libros</servlet-name>
        <servlet-class>Servlet.libros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>peliculas</servlet-name>
        <servlet-class>Servlet.peliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>varitas</servlet-name>
        <servlet-class>Servlet.varitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accesorios</servlet-name>
        <servlet-class>Servlet.accesorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>juguetes</servlet-name>
        <servlet-class>Servlet.juguetes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dulces</servlet-name>
        <servlet-class>Servlet.dulces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>Servlet.Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCarrito</servlet-name>
        <servlet-class>Servlet.ConsultaCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVentas</servlet-name>
        <servlet-class>Admin.ConsultaVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bienvenida</servlet-name>
        <servlet-class>Sesiones.Bienvenida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>Sesiones.Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Libros</servlet-name>
        <servlet-class>Cliente.Libros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Varitas</servlet-name>
        <servlet-class>Cliente.Varitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accesorios</servlet-name>
        <servlet-class>Cliente.Accesorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dulces</servlet-name>
        <servlet-class>Cliente.Dulces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Peliculas</servlet-name>
        <servlet-class>Cliente.Peliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Juguetes</servlet-name>
        <servlet-class>Cliente.Juguetes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaProveedor</servlet-name>
        <servlet-class>Servlet.IniciaProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioProv</servlet-name>
        <servlet-class>Servlet.CambioProv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElimProv</servlet-name>
        <servlet-class>Servlet.ElimProv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/RegistrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProv</servlet-name>
        <url-pattern>/RegistrarProv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltasBD</servlet-name>
        <url-pattern>/AltasBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajasBD</servlet-name>
        <url-pattern>/BajasBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiosBD</servlet-name>
        <url-pattern>/CambiosBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultasBD</servlet-name>
        <url-pattern>/ConsultasBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libros</servlet-name>
        <url-pattern>/libros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>peliculas</servlet-name>
        <url-pattern>/peliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>varitas</servlet-name>
        <url-pattern>/varitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesorios</servlet-name>
        <url-pattern>/accesorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>juguetes</servlet-name>
        <url-pattern>/juguetes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dulces</servlet-name>
        <url-pattern>/dulces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCarrito</servlet-name>
        <url-pattern>/ConsultaCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVentas</servlet-name>
        <url-pattern>/ConsultaVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bienvenida</servlet-name>
        <url-pattern>/Bienvenida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Libros</servlet-name>
        <url-pattern>/Libros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Varitas</servlet-name>
        <url-pattern>/Varitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accesorios</servlet-name>
        <url-pattern>/Accesorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dulces</servlet-name>
        <url-pattern>/Dulces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Peliculas</servlet-name>
        <url-pattern>/Peliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Juguetes</servlet-name>
        <url-pattern>/Juguetes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaProveedor</servlet-name>
        <url-pattern>/IniciaProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioProv</servlet-name>
        <url-pattern>/CambioProv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElimProv</servlet-name>
        <url-pattern>/ElimProv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
